.container {
  font-family: sans-serif;
  padding: 32px;
  max-width: 700px;
  margin: auto;
}

.title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.section {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  color: #020202;
}

.sectionTitle {
  font-size: 24px;
  margin-bottom: 10px;
  color: #f00707;
}

.list {
  padding-left: 20px;
}

.list li {
  margin-bottom: 6px;
  color: #020202;
}